.header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

.menu-bar {
  cursor: pointer;
  margin-right: 2rem;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

.header-title {
  margin: 0;
  font-size: 1.5rem;
  flex-grow: 1;
  text-align: center;
}
